/* Start General */
/** {*/
    /*margin:0;*/
    /*padding:0;*/
    /*font-family: Tahoma;*/
    /*box-sizing:border-box;*/
    /*-o-box-sizing:border-box;*/
    /*-ms-box-sizing:border-box;*/
    /*-moz-box-sizing:border-box;*/
    /*-webkit-box-sizing:border-box;*/
/*}*/

/* Main Header */
.main-header{
    background: #fff;
}

.main-header > .row{
    display: block;
    margin-right: 0;
    margin-left: 0;
}


.main-header .header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 148px;
}

.main-header .row{
    padding-right: 15px;
    padding-left: 15px;
}

.main-header .header p,i,a{
    color: #FFF;
}

.main-header .header p,a{
    font-size: 90%;
}

.main-header .header .logo{
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.main-header .header .logo img{
    width: 100%;
    object-fit: contain;
}

.main-header .header .email{
    width: 300px;
}

.main-header .header .email .content{
    display: flex;
    align-items: flex-start;
}

.main-header .header .email .avail{
    background-color: #003259;
    padding: 10px 0 10px 10px;
}

.main-header .header .email .content{
    background: #a6ce39;
    padding: 10px 0 10px 10px;
}

.main-header .header .email .content .phone i{
    transform: rotate(90deg);
    margin-right: 10px;
}

.main-header .header .email .content .number .help-desk{
    font-size: 65%;
}

.main-header .header .email .content .number .num-pho{
    font-size: 100%;
    font-weight: bold;
}

.main-header .header .email .mail{
    background: #85b501;
    display: flex;
    padding: 10px 0 10px 10px;
    align-items: center;
    height: 30px;
}

.main-header .header .email .mail i{
    margin-right: 5px;
    font-size: 26px;
}

.main-header .header .email .mail a{
    text-decoration: none;
}

.main-header .header .email .mail a:hover{
    text-decoration: underline;
}

/* Nav-bar*/

.nav-bar{
    height: 71px;
    position: relative;
}

.nav-bar .row{
    height: 100%;
    display: block;
}

.nav{
    height: 100%;
    position: relative;
}

.nav .nav-links {
    background-color: #003259;
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav .nav-links > li , .nav .add-ul li  {
    display: inline-block;
    transition: all .3s ease;
    width: 13.6%;
    text-align: center;
    position: relative;
}

.nav .nav-links > .icon {
    float: right;
}

.nav .nav-links li .links , .nav .add-ul li a {
    color: #FFF;
    text-decoration: none;
    padding-top: 30px;
    padding-bottom: 22px;
    font-size: 15px;
    z-index: 1;
    position: relative;
    min-height: 71px;
    display: block;
}

.nav ul .list:hover .links:before{
    height: 100%;
    top: 0;
    background: rgba(0,0,0,0.01);
}

.nav ul .list:hover .links:after{
    height: 100%;
    top: 0;
}

.nav ul .list .links:before{
    position: absolute;
    content: "";
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 0%;
    top: 100%;
    left: 0;
    z-index: 0;
    -webkit-transition: all .6s ease-out;
    -moz-transition: all .6s ease-out;
    -ms-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
}

.nav ul .list .links:after{
    position: absolute;
    content: "";
    background: #a6ce39;
    width: 100%;
    height: 0%;
    top: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.nav ul li.active{
    width: 20%;
}

.nav ul li.active .links:after{
    height: 100%;
    top: 0;
}

/* End General */

/* Add ul*/

.nav .nav-links .list:hover .add-ul{
    display: block;
    border-top: 1px solid rgba(255,255,255,0.4);
}

.nav .add-ul li{
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    position: relative;
    text-align: left;
}

.nav .add-ul{
    position: absolute;
    background: rgba(166,206,57, 0.9);
    width: 100%;
    z-index: 99;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    box-shadow: 0 9px 9px rgba(0,0,0,0.3);
    z-index: 99;
    display: none;
}



.nav .add-ul li a{
    padding: 13px 5px 8px 25px;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    line-height: 17px;
    -webkit-transition: all .6s ease-out;
    -moz-transition: all .6s ease-out;
    -ms-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
    min-height: auto;
}

.nav .add-ul li:hover a {
    background-color: #003259;
}

    /* Start Menue Right */
.nav .nav-links > .icon {
    position: relative;
    display: none;
    padding-top: 18px;
}

.nav .nav-links > .icon i{
    font-size: 29px;
    border: 1px solid #fff;
    padding: 2px 6px;
    border-radius: 5px;
    color: #FFF;
}

.nav ul > ol {
    position: absolute;
    right: 0;
    background: #003259;
    text-align: center;
    list-style: none;
    display: none;
    border-top: 1px solid rgba(0,0,0,0.2);
    z-index: 5;
}
.nav ul > ol > li {
    width: 100vw;
    color: #FFF;
    margin: 0;
    padding-bottom: 4px;
    transition: all .3s ease;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-left: 20px;
    padding-right: 20px;
}

.nav ul > ol > li > a{
    padding-top: 10px !important;
}

.nav ul > ol > li:hover a:before{
    height: 100%;
    top: 0;
    background: rgba(0,0,0,0.01);
}

.nav ul > ol > li:hover a:after{
    height: 100%;
    top: 0;
}


/* Start Menue Right */

/* Start Media Query */

@media screen and (max-width:940px){
    .nav .nav-links li .links{
        font-size: 13px;
        padding-bottom: 0;
    }
}

@media screen and (max-width:760px){
    .nav .nav-links li .links, .nav .add-ul li a{
        font-size: 11px;
    }
}

@media screen and (max-width:680px){
    .nav .nav-links{
        display: block;
    }
    .nav ul > li:not(:first-child) {
        display:none
    }
    .nav ol .add-ul li {
        display:block !important;
    }
    .nav .nav-links > .icon {
        display: block
    }
    .nav .add-ul{
        position: static;
        display: none;
        margin-top: 5px;
    }
    .nav .nav-links li .links, .nav .add-ul li a{
        font-size: 15px;
    }
    .nav ul li.active{
        width: auto;
    }

    .nav ul > li.active{
        display: none;
    }

    .nav ul li.home{
        display: none;
    }
    .main-header .header .logo img{
        width: 100% !important;
    }
}

@media screen and (min-width:680px) {
    .nav ul > ol > li {
        display:none
    }
}

@media screen and (max-width:1094px){
    .main-header .header .logo{
        width: 50%;
    }
    .main-header .header .logo img{
        width: 100%;
    }
}

@media screen and (max-width:947px){
    .main-header .header .logo{
        width: 100%;
    }
    .main-header .header .logo img{
        width: 100%;
    }
}

@media screen and (max-width:950px){
    .main-header .header{
        height: auto;
        padding-bottom: 30px;
    }
}


/* End Media Query */
